.GameMaker {
    text-align: center;
}

.GameMaker {
    background-color: #5b6476;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: rgb(255, 247, 240);
}

.Buttons {
    width: '20%';
    
}