body {
    height: 100%;
}

.button {
    background-color: #f0aa54;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    border-color: rgb(245, 239, 239);
    text-decoration: none;
    margin: 6px;
}

.plans {
    color: rgb(64, 121, 171);
    text-align: left;
    margin-left: 100px;
}

.setting_area {
    color:rgb(7, 7, 7);
    text-align: left;
    margin-left: 70px;
    padding: 10px;
}

.setting_item {
    margin-top: 3px;
    margin-bottom: 3px;
}

.game_node_vis {
    cursor: pointer
}

.page {
    justify-content: flex-start;
    min-height: 100vh; 
}

.dashboard_content {
    background-color: rgb(247, 246, 244);
    width: 91%;
    height: 100vh; 
    float: right;
}

.sidebar1 {
    background-color: rgb(93, 97, 103);
    width: 9%;
    height: 100vh; 
    float: left;
}

.sidebar2 {
    background-color: rgb(226, 215, 237);
    width: 9%;
    height: 100vh; 
    float: left;
}

.sidebar_options {
    margin: 10px;
    background-color: rgb(242, 249, 255);
    height: 50px;
    width: 80%;
    cursor: pointer;
    border-color: rgb(245, 239, 239);
    font-size: 16px;
}

.returning_buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: pink;
}

.userChoice {
    background-color: rgb(235, 227, 213);
    width: 30%;
    margin-left: 10%;
    justify-content: flex-start;
    text-align: left;
    padding: 15px;
}

.textRight {
    text-align: right;
}

.collapseToggle {
    background-color: rgb(139, 156, 186);
    color: white;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    border-color: rgb(247, 243, 243);
    text-decoration: none;
    margin: 6px;
    width: 80%;
}

.buttonRight {
    margin-left: 70%;
}