.button {
    background-color: #f0aa54;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    margin: 6px;
}

.plans {
    color: rgb(64, 121, 171);
}

.page {
    justify-content: flex-start;
    min-height: 100vh; 
}

.dashboard_content {
    background-color: rgb(247, 246, 244);
    width: 91%;
    height: 100vh; 
    float: right;
}

.sidebar {
    background-color: rgb(93, 97, 103);
    width: 9%;
    height: 100vh; 
    float: left;
}

.returning_buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: pink;
}