body {
    height: 100%;
}

.button {
    background-color: #f0aa54;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    border-color: rgb(245, 239, 239);
    text-decoration: none;
    margin: 6px;
}

.plans {
    color: rgb(64, 121, 171);
    text-align: left;
    margin-left: 100px;
}

.setting_area {
    color:rgb(7, 7, 7);
    text-align: left;
    margin-left: 70px;
    padding: 10px;
}

.setting_item {
    margin-top: 3px;
    margin-bottom: 3px;
    margin: 5px;
}

.game_node_vis {
    cursor: pointer
}

.page {
    justify-content: flex-start;
    min-height: 100vh; 
}

.dashboard_content {
    background-color: rgb(247, 246, 244);
    width: 91%;
    height: 100vh; 
    float: right;
}

.sidebar1 {
    background-color: rgb(93, 97, 103);
    width: 9%;
    height: 100vh; 
    float: left;
}

.sidebar2 {
    background-color: rgb(226, 215, 237);
    width: 9%;
    height: 100vh; 
    float: left;
}

.sidebar_options {
    margin: 10px;
    background-color: rgb(242, 249, 255);
    height: 50px;
    width: 80%;
    cursor: pointer;
    border-color: rgb(245, 239, 239);
    font-size: 16px;
}

.returning_buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: pink;
}

.textRight {
    text-align: right;
}

.collapseToggle {
    background-color: rgb(139, 156, 186);
    color: white;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    border-color: rgb(247, 243, 243);
    text-decoration: none;
    margin: 6px;
    width: 80%;
}

.buttonRight {
    margin-left: 70%;
}

.switchButton {
    margin-right: 50%;
    top: 20px;
    left: 50%;
}

.modalBackboard {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: rgba(210, 215, 222, 0.74);
}

.modalArea {
    position: fixed;
    width: 80%;
    height: 85%;
    top: 50%;
    left: 50%;
    background: rgb(49, 46, 58);
    transform: translate(-50%,-50%);
}

.modalArea2 {
    position: fixed;
    width: 80%;
    height: 85%;
    top: 50%;
    left: 50%;
    background: rgb(24, 59, 49);
    transform: translate(-50%,-50%);
}

.modalArea3 {
    position: fixed;
    width: 80%;
    height: 85%;
    top: 50%;
    left: 50%;
    background: rgb(203, 191, 171);
    transform: translate(-50%,-50%);
}

.modalContent {
    color: rgb(242, 241, 240);
    height: 93%;
}

.modalControl {
    height: 7%;
    padding-inline: 10px;
}

.modalControlButton {
    padding: 2px;
}

.displayBlock {
    display: block;
}
  
.displayNone {
    display: none;
}

.userChoice {
    background-color: rgb(235, 231, 224);
    width: 20%;
    margin-left: 3%;
    justify-content: flex-start;
    text-align: left;
    padding: 15px;
    flex: 1;
    height: 550px;
    overflow: auto;
    margin: 1%;
    margin-top: 2%;
}
.pieceManager {
    background-color: rgb(111, 106, 125);
    width: 20%;
    margin-left: 3%;
    justify-content: flex-start;
    text-align: left;
    padding: 15px;
    flex: 1;
    height: 550px;
    overflow: auto;
    margin: 1%;
    margin-top: 2%;
}

.previewWindow {
    background-color: rgb(235, 242, 235);
    height: 100%;
    width: 70%;
    flex: 2;
    margin: 3%;
}

.parallelFrame {
    display: flex;
    background-color: rgb(225, 190, 196);
}

.preveiewArea {
    height: 450px;
    width: 800px;
    background-color: rgb(222, 222, 235);
    margin: 3%;
}

.pieceSetterArea {
    background-color: rgb(186, 208, 205);
}

.gameDataDisplayArea {
    background-color: rgb(85, 104, 121);
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 3px;
    height: 90%;

}

.dataArea {
    height: 70%;
    background-color: rgb(201, 168, 188);
    overflow: scroll;
}

.clickableListItem {
    background-color: rgb(49, 46, 58);
    margin: 1px;
    height: 25px;
    width: 90%;
}

.clickableListItem:hover {
    background-color: rgb(189, 156, 98);
    margin: 1px;
    height: 25px;
    width: 90%;
    cursor: pointer
}